body {
    background-color: #6DD1C5;
    color: #EEE0CD;
}

#gameHeader {
    background-color: #019499;
    border-bottom: 3px solid #41B3A6;
    color: #EEE0CD;
    height: 10%;
}

#gameTitle {
    height: 100%;
}

#playingField {
    height: 80%
}

#playingField img {
    margin-bottom: 10px;
}

#cardScr {
    display: show;
}

#cardHistory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: end;
}

#cardHistory img {
    margin: 5px;
}

#cardHistory img:last-child {
    display: none;
}

#welcomeScr {
    display: none;
}

#welcomeScr .jumbotron{
    background-color: #41B3A6;
}

.avatarElement {
    position: relative;
    height: 200px;
    width: 130px;
    flex: 0 0 auto;
}

.avatarElement .avatar {
    height: 176px;
    position: absolute;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    flex: 0 0 auto;
}

.avatarElement .name {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 24px;
    flex: 0 0 auto;
}

#avatarScr {
    display: flex;
    justify-content: space-between;
}

.cardElement {
    position: relative;
    background-color: #019499;
    border: 3px solid #41B3A6;
    height: 100px;
    width: 100px;
}

.cardElement img {
    margin: 0;
}

.cardElement  {
    line-height: 0;
    position: absolute;
    z-index: 20;
    font-size: 40px;
    text-align: center;
    margin: 0;
    right: 0;
    left: 0;
    top: 50%;
    text-shadow: 3px 3px rgba(20, 20, 20, 0.6); 
}

.newCardElement {
    position: relative;
    background-color: #019499;
    border: 3px solid #41B3A6;
    height: 200px;
    width: 200px;
}

.newCardElement .coin {
    margin: 0;
}

.newCardElement .coinValue {
    line-height: 0;
    position: absolute;
    z-index: 20;
    font-size: 80px;
    text-align: center;
    margin: 0;
    right: 0;
    left: 0;
    top: 50%;
    text-shadow: 5px 5px rgba(20, 20, 20, 0.6); 
}

#currentCard {
    position: fixed;
    top: 180px;
    right: 200px;
    font-size: 32px;
}