body {
    background-color: #6DD1C5;
    color: #EEE0CD;
}

#gameHeader {
    background-color: #019499;
    border-bottom: 3px solid #41B3A6;
    color: #EEE0CD;
    height: 10%;
}

#gameTitle {
    height: 100%;
}

#playingField {
    height: 80%
}

#playingField img {
    margin-bottom: 10px;
}

#cardScr {
    display: none;
}

#cardHistory {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: end;
}

#cardHistory img {
    margin: 5px;
}

#cardHistory img:last-child {
    display: none;
}

#welcomeScr .jumbotron{
    background-color: #41B3A6;
}

.avatarElement {
    position: relative;
}

.avatarElement .avatar {
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}